Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

SourcePackages/

.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user

# Xcode
*.xcodeproj
*.xcworkspace


Config/User*.ini
Config/Windows/Windows*.ini

.DS_Store
Thumbs.db
*.log